body{
  margin: 0;
  padding: 0;
}

.start{
  
  position: absolute;
  top: 50%;
  left: 50%;


 
}

#startBtn{
  background: blue;
  border: 3px dashed black;
  position: relative;
  left: -50%;
  top: -50%;
}

#navBar{
 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  z-index: 2;
}

#writing{
  margin-top: 10vh;
  padding-bottom: 5vh;
  
}
h3{
  margin: auto;
  text-align: center;
}
.loginText
{
  margin: auto;
  text-align: center;
}

#postBtn{

padding: 0.5rem 1.5rem;
margin: auto;

}

.loginDiv{
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.login{
  
  padding: 20px;
  margin: 0;
  width: 40%;
  min-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  
}
.googleLogin{
  background-image: url(images/googleLogin.png);
  background-repeat: no-repeat;
  background-size: 100%;

  margin: 20px auto;
  border:black solid 1px;
  width: 200px;  
  height: 38px;

  cursor: pointer;
}

.btns{
  display: flex;
  flex-direction: column;
  
}

.logBtn{
  width: 200px;  
  height: 38px;
  margin: auto;
}
#recap{
  background-color: yellow;
  height: 50px;
}